:root {
	--tab-min-height: 32px !important;
	--tab-max-height: 32px !important;
}

#tab-background {
	max-height: 32px !important;
}

.tab-text.tab-label{
	font-size: 13px;
	padding-bottom: 2px;
	padding-left: 3px;
}

@-moz-document url(chrome://browser/content/places/places.xhtml){
	#placesView{
		font-size: 1.2em;
	}
}

/* Bookmarks Toolbar */
#PersonalToolbar, 
#PersonalToolbar menuitem,
#PersonalToolbar menu {
	font-size: 13px !important;

}

